<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Lista de Personas</h1>
<table>
<thead>
    <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Edad</th>
        <th>Ciudad</th>
        <th>Fecha de Nacimiento</th>
    </tr>
</thead>
    <tbody>
    {% for persona in personas %}
    <tr>
        <td>{{ persona.nombre }}</td>
        <td>{{ persona.apellidos }}</td>
        <td>{{ persona.edad }}</td>
        <td>{{ persona.ciudad }}</td>
        <td>{{ persona.fecha_nacimiento }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>